$fontSizeSite: 14px;

$bgColorTopbar: #313030;
$bgColorHeaderSearch: #88acb2;
$bgColorSection: #e3e3e3;

$fontColorTopbar: #838383;
$fontColorTopbarHover: #e27e1d;
$fontColorHeaderNav: #525252;
$fontColorHeaderNavHover: #798fa2;
$fontColorUserInfo: #73839e;
$fontColorFooterNav: #cacaca;
$fontColorFooterNavHover: #94acd3;
$fontColorRewardHover: #ff850f;
$fontColorRewardHeader: #85a1a6;
