@import "_color.scss";
@import "_function.scss";

main.index {
  section {
    padding: 50px 0;
    &:nth-child(odd) {
      background-color: $bgColorSection;
    }
  }
  h2.sec-headline {
    color: $fontColorHeaderNav;
    display: inline-block;
    border-left: 4px solid $fontColorUserInfo;
    margin-bottom: 10px;
    padding-left: 3px;
  }
  div.sec-hd {
    float: right;
    .hd-more{
      a{
        color: $fontColorHeaderNav;
        &:hover{
          color: $fontColorTopbarHover;
        }
      }
    }
  }
  div.sec-bd {
    overflow-x: hidden;
    ul.book-list {
      width: 1000%;
      padding: 4px 0 6px;
      list-style: none;
      font-size: 0;
      li.book-item {
        font-size: 1rem;
        text-align: center;
        display: inline-block;
        padding: 20px 5px;
        border: 1px solid darken($bgColorSection, 10);
        background-color: #fff;
        overflow: hidden;
        cursor: pointer;
        transition: transform .5s, box-shadow .5s;
        @include screenFit(width, 2.425%,1.92%,1.583%);
        @include screenFit(margin-left, 0.1%,0.1%,0.1%);
        &:first-child {
          margin-left: 0;
        }
        &:hover{
          transform: translate(0,-4px);
          box-shadow: 0 3px 25px -10px #000;
        }
        h4 {
          color: darken($bgColorSection,60);
          font-size: 1.1rem;
          font-weight: normal;
          line-height: 40px;
        }
        p {
          color: darken($bgColorSection,40);
          .em-red {
            color: rgb(255, 85, 85);
            padding: 0 3px;
          }
        }
        img {
          height: 154px;
          width: 154px;
        }
      }
    }
  }
}
