$fontSizeSite: 14px;
$bgColorTopbar: #313030;
$bgColorSection: #cccccc;
$bgColorHeaderSearch: #88acb2;
$fontColorTopbar: #838383;
$fontColorTopbarHover: #e27e1d;
$fontColorHeaderNav: #525252;
$fontColorHeaderNavHover: #798fa2;
$fontColorUserInfo: #73839e;
$fontColorFooterNav: #cacaca;
$fontColorFooterNavHover: #94acd3;

body, header, main, footer, div, a, ul, li, span, p, h1, h2, h3, h4, h5, h6, form, button, input, textarea, table{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html{
  font-size: $fontSizeSite;
  font-family: "Microsoft Yahei", sans-serif;
}
header, main, footer{
  position: relative;
  width: 100%;
}
main{
  display: none;
}
.container{
  position: relative;
  margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.nav-list{
  list-style: none;
  font-size: 0;
  .nav-item{
    font-size: 1rem;
    display: inline-block;
  }
  .nav-item-list{
    .float-list{
      position: absolute;
      display: none;
    }
  }
}
a, a:hover, a:link, a:focus, a:visited{
  text-decoration: none;
  outline: none;
  color: #000;
}

#header{
  div.site-topbar{
    background-color: $bgColorTopbar;
    div.topbar-nav{
      a{
        color: $fontColorTopbar;
        height: 30px;
        line-height: 30px;
        padding: 0 5px;
        &:hover{
          color: $fontColorTopbarHover;
        }
        & + span.sep{
          color: lighten($bgColorTopbar, 5);
        }
      }
    }
  }
  div.site-header{
    margin-top: 20px;
    div.header-logo{
      float: left;
      height: 124px;
      width: 280px;
      background-image: url(../img/header-logo.png);
      margin-right: 20px;
    }
    div.header-search, div.header-user{
      display: inline-block;
      padding-top: 40px;
    }
    div.header-search{
      form.search-form{
        font-size: 0;
        position: relative;
        input, button{
          font-size: 1rem;
          height: 30px;
          line-height: 30px;
          outline: none;
          border: 2px solid $bgColorHeaderSearch;
        }
        input{
          padding-left: 5px;
          @media (min-width: 768px) {
            &{
              width: 300px;
            }
          }
          @media (min-width: 992px) {
            &{
              width: 420px;
            }
          }
          @media (min-width: 1200px) {
            &{
              width: 540px;
            }
          }
        }
        button{
          color: #fff;
          font-size: 20px;
          width: 30px;
          background: $bgColorHeaderSearch;
        }
      }
    }
    div.header-user{
      a{
        color: $fontColorUserInfo;
        font-size: 1.1rem;
        padding: 0 5px;
        &:hover{
          color: lighten($fontColorUserInfo, 10);
        }
      }
    }
    div.header-nav{
      ul.nav-list{
        li.nav-item{
          @media (min-width: 768px) {
            &{
              padding: 10px 20px 0;
            }
            &:first-child{
              padding-left: 0;
            }
          }
          @media (min-width: 992px) {
            &{
              padding: 10px 30px 0;
            }
          }
          @media (min-width: 1200px) {
            &{
              padding: 10px 40px 0;
            }
          }
          a{
            font-size: 1.2rem;
            color: $fontColorHeaderNav;
            &:hover{
              color: $fontColorHeaderNavHover;
            }
          }
        }
      }
    }
  }
}
#footer{
  div.site-footer{
    height: 100px;
    background: url(../img/foot-banner.png) no-repeat 50% 50% ;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .container{
    max-width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}
